.auto-complete {
  position: relative;
  max-width: 400px;
  text-align: left;

  input {
    width: 100%;
  }
  .dropdown {
    border: 1px solid black;
    position: absolute;
    background: white;
    width: 150%;
  }
}
