.auto-complete {
  position: relative;
  width: 400px;
  margin-left: 20rem;
  max-width: 400px;
  text-align: left;
  line-height: 5rem;
  @media #{$break1} {
    margin-top: 20rem;
    width: 80%;
  }

  input {
    width: 100%;
    padding: 10rem;
    border: 1px solid lightblue;
  }
  .dropdown {
    border: 1px solid rgb(223, 223, 223);
    position: absolute;
    background: white;
    width: 100%;

    li {
      &:hover,
      &:active {
        background-color: rgba(245, 241, 241, 0.925);
      }
      font-size: 16rem;
    }
  }
}
